@page "/category/{categoryIdString}"
@namespace CoolHub

@using CoolHub.ViewModels
@using CoolHub.Models
@using System.ComponentModel

@inject CategoryViewModel CategoryViewModel

@if (category == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@category.Name</h1>

    <p>@category.Description</p>

    @* <table class="table">
        <thead>
            <tr>
                <th>Topic</th>
                <th>Description</th>
                <th>Resources</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var topic in category.Topics)
            {
                <tr>
                    <td>@topic.Name</td>
                    <td>@topic.Description</td>
                    <td>@ResourceDTOsToString(topic.Resources)</td>
                </tr>
            }
        </tbody>
    </table> *@
    
    <CascadingValue Value=@CategoryViewModel Name="CategoryViewModel">
        <TopicListComponent> </TopicListComponent>
        <TopicFormComponent> </TopicFormComponent>
    </CascadingValue>
}

@code {
    [Parameter]
    public string categoryIdString { get; set; }

    public TopicCreateDTO NewTopic { get; set; }

    private int categoryId;

    private CategoryDetailsDTO category;

    protected override void OnInitialized()
    {
        if(Int32.TryParse(categoryIdString, out categoryId))
        {
            // gotta set this id or else the view model doesnt know what to read
            CategoryViewModel.CategoryId = categoryId;
            category = CategoryViewModel.GetCategoryById(categoryId);
        }
        else
        {
            // some error handling behavior?
        }

        NewTopic = new TopicCreateDTO();
    }

    // update the entire view, the page and its components on PropertyChanged
    protected override async Task OnInitializedAsync()
    {
        CategoryViewModel.PropertyChanged += async (sender, e) => { 
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
        await base.OnInitializedAsync();
    }

    private async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        CategoryViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }
}